@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="text-center" data-ride="carousel" data-interval="6000">
 <h1 class="display-4"> Welcome</h1>
<p> Click on MovieApp to see the list of the Movies</p>
</div>
